<%- include('header') -%>



    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            
            <h2 class="ml-3 text-xl">Employee Management</h2>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900" href=""  >DashBoard</a>
            <a class="mr-5 hover:text-gray-900" href="">ABOUT</a>
            <a class="mr-5 hover:text-gray-900" href="">CONTACT</a>
            <a  href="http://localhost:5000/employee">Employee Detail</a>
            <button ><a href="/route/logout">Logout</a></button>
            
      

<div class="text-center center-div mt-5">
    <div class="container ">
        
       <h2> Vision</h2>
       <p>"To be globally significant in each of our chosen businesses by 2025."</p>

 <h2>Mission</h2>
<p>"To be the most reliable global network for customers and suppliers,
   that delivers value through products and services. To be a responsible
    value creator for all our stakeholders."</p>
      </div>
</div>

<%- include('footer') -%>